<strong>Olá, {{organizer}}</strong>
<p>Você tem um novo inscrito no meetup "{{meetup}}", confira abaixo as
  informações do usuário</p>
<p>
  <strong>Usuário: </strong> {{user}} <br />
  <strong>Email: </strong> {{email}} <br />
</p>
